@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px solid #e4e4e4;
}

.barra-superior {
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    position: fixed;
    z-index: 1;
}

.barra-mobile,
.stories-mobile,
.footer-mobile {
    display: none;
}

.logos {
    width: 12%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}

ion-icon {
    font-size: 1.3rem;
    cursor: pointer;
}

.div-vertical {
    height: 20px;
}

.logos img {
    width: 90%;
    margin-top: 5px;
}

input {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-align: center;
    background-color: #fafafa;
    padding: 3%;
    width: 200px;
}

.icones {
    display: flex;
    width: 12%;
    justify-content: space-evenly;
}

.conteudo {
    display: flex;
    background-color: #fafafa;
}

.feed {
    width: 60%;
    display: flex;
    margin-left: 11%;
    justify-content: space-between;
}

.barra-stories {
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    width: 88%;
    overflow-x: hidden;
    position: relative;
}

.barra-stories img {
    width: 70px;
    margin: 5px 5px;
}

.barra-stories div {
    background-image: url(/projeto2-instagram/medias/stories/stories_background.jpg);
    background-size: 80px;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 8px;
    cursor: pointer;
}

.barra-stories p {
    font-size: 15px;
    margin-top: 10px;
}

.barra-stories ion-icon {
    font-size: 40px;
    background-color: #fafafa;
    color: gray;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 30%;
}

.side-bar {
    width: 22%;
    height: 100%;
    margin-top: 70px;
    position: fixed;
    right: 12%;
}

.current-page {
    display: flex;
    align-items: center;
}

.title-page {
    margin-left: 10px;
}

.title-page h6,
.title-page p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    cursor: pointer;
}

.title-page p {
    color: #a9a9a9;
}

.sugestoes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sugestoes div:first-child {
    color: #a9a9a9;
    font-size: 12px;
    font-weight: 500;
}

.sugestoes div:nth-child(2) {
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
}

.sugestoes-pages {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sugestoes-pages div:first-child {
    display: flex;
}

.sugestoes-pages div:nth-child(2) {
    margin-left: 10px;
}

.sugestoes-pages div:nth-child(2)>h6 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}

.sugestoes-pages div:nth-child(2)>p {
    font-size: 12px;
    color: #a9a9a9;
}

.sugestoes-pages div:nth-child(2)>button {
    border: none;
    color: #139EF2;
    font-weight: 700;
    background-color: #fafafa;
    cursor: pointer;
}

.sidebar-footer {
    margin-top: 20%;
    font-size: 12px;
    color: #c7c7c7;
}

.sidebar-footer p:last-child {
    margin-top: 10%;
}

.new-feeds {
    width: 53%;
    margin: 4% 0 0 11%;
}

.newfeed-box {
    background-color: #fff;
    margin-bottom: 8%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.top-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
}

.top-title img {
    width: 35px;
    margin-right: 15px;
}

.top-bar div:last-child {
    margin-right: 20px;
}

.image-post img,
video {
    width: 100%;
}

.first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-line div {
    display: flex;
    margin: 10px;
}

.first-line div:first-child {
    width: 15%;
    justify-content: space-around;
}

.box-footer div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 18px 20px 18px;
}

.box-footer div:nth-child(2) p {
    font-size: 14px;

}

.box-footer div:nth-child(3) {
    display: flex;
    align-items: center;
    margin: 5px auto 20px 18px;
}

.box-footer div:nth-child(3) ion-icon {
    width: 20%;
    margin-right: 10px;
    cursor: pointer;
}

.box-footer div:nth-child(4) {
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    position: relative;
}

.box-footer div:nth-child(4) ion-icon {
    margin-left: 18px;

}

.box-footer div:nth-child(4) input {
    background-color: #fff;
    width: 100%;
    text-align: start;
    border: none;
}

.box-footer div:nth-child(4) button {
    border: none;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 700;
    color: #B2DFFC;
}

.box-footer div:nth-child(4) button:hover {
    color: #0095F6;
    transition: 300ms;
}

span {
    font-weight: 900;
    cursor: pointer;
}

@media (max-width: 935px) and (min-width: 614px) {

    body,
    .conteudo,
    .feed {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .side-bar {
        display: none;
    }

    .icones {
        width: 20%;
    }

    .barra-superior {
        justify-content: space-between;
    }

    .logos {
        width: 25%;
        justify-content: center;
        gap: 7px;
    }

    .barra-stories {
        width: 75%;
    }

    .new-feeds {
        width: 75%;
        margin-left: 12.5%;
    }

}

@media (max-width: 614px) {

    body,
    .conteudo,
    .feed,
    .new-feeds {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .barra-superior,
    .barra-stories {
        display: none;
    }

    .barra-mobile {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
        height: 50px;
    }

    .side-bar {
        display: none;
    }

    .stories-mobile {
        width: 100%;
        margin: 3% 0 0 3%;
        display: flex;
        align-items: center;
        gap: 2.2%;
        overflow: hidden;
    }

    .stories-mobile div {
        align-items: center;
        margin-left: 5px;
    }

    .stories-mobile p {
        margin-top: 5px;
        font-size: 10px;
    }

    .new-feeds {
        margin-top: 5%;
    }

    .footer-mobile {
        display: flex;
        width: 100%;
        height: 8%;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

}